<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Looby</title>
    <link rel="stylesheet" href="/styles/lobby.css" />
  </head>
  <body>
    <div class="form-container">
      <form action="/index" method="get" class="form-nickname">
        <label for="input-nickname">Nickname: </label>
        <input type="text" id="input-nickname" />
        <button type="submit">Play</button>
      </form>
    </div>

    <div></div>
  </body>
</html>
